body {
    background-color: rgb(236, 167, 82);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
    background-color: rgb(58, 32, 1);
    color: rgb(240, 196, 115);
    font-size: 48px;
}
ul {
    color: rgb(58, 32, 1);
}
button {
    background-color: rgb(165, 42, 42);
    font-size: 24px;
}
a {
    color: rgb(248, 248, 9);
}
li, p {
    font-size: 24px;
}
h2, h3 {
    font-size: 36px;
    color: rgb(165, 42, 42);
}
img {
    height: auto;
    width: 500px;
}